<form>
    <div class="searchSnippet">
        <input type="text" name="tagQ" placeholder="search by single tag">
        <input type="text" name="textQ" placeholder="search by text in snippet">
        <input type="text" name="lineQ" placeholder="search by number of lines">
        <input type="submit" value="Search">
    </div>
</form>

<h2>My Snippets</h2>

{{#each snippets}}
    <div class="snippet">
        <p>
            <b>{{name}}</b> | lines of code: {{lines}}
        </p>
        <div class="code">
            <pre>{{code}}</pre>
        </div>
        <div style="position: relative; padding: 10px 10px 0px 0px;">
        {{!-- <ul class="tags-list clearfix">
            <li class="tag-label">Tags:</li> --}}
            Tags:
            {{#each tags}}
                {{!-- <class="tag-item"> --}}
                <a href="/?tagQ={{this}}&textQ=&lineQ=">{{this}}</a>
                {{!-- </class> --}}
            {{/each}}
        {{!-- </ul> --}}
        </div>
    </div>
{{/each}}